.header{
  display: flex;
  align-items: center;
}

.header a{
  text-decoration: none;

  display: flex;
  align-items: center;
}

.header .logo{
  max-height: 50px;
}

.header .title-group{
  padding-left: 25px;
}

.header .title-group{
  padding-right: 5px;
}

